# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Node.js dependencies
node_modules
/backend/node_modules
/frontend/node_modules

# Environment variables
.env
/backend/.env

# Build outputs
/frontend/build

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PnP
/.pnp
.pnp.js

# Coverage
/coverage

# Specific files to ignore
/src/pages/forms/serviceStatus.css
/src/pages/forms/serviceStatus.jsx
/routes/statusRoute.js
/frontend/src/utils/requestTest.js

# Ignore all server status related files
**/serverstatus*

#IDE files
.vscode

# ESLint config files
eslint.config.js
/backend/eslint.config.mjs
/frontend/eslint.config.js

#pictures

/frontend/public/images/baghdad.jpg
/frontend/public/images/coffee.jpg
/frontend/public/images/nangaparbat.jpg
/frontend/public/images/istanbul.jpg
